<h1>Editing Facilities Rents Relationship</h1>

<%= render 'form', facilities_rents_relationship: @facilities_rents_relationship %>

<%= link_to 'Show', @facilities_rents_relationship %> |
<%= link_to 'Back', facilities_rents_relationships_path %>
